.card {
    
    border-radius: 60px;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 0, 0.897);;
    background-color: rgba(51, 51, 51, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    max-height: 30vh;
    max-width: 30vw;

}
/* 
.card :hover {
    top: calc( 90% - 10px );
    border: 1px solid rgba(#F2a4F8, 0);
    box-shadow: 0 75px 80px rgba(0,0,0,.05), 0 0 5px rgba(0,0,0,.1);
    cursor: pointer;

    }

.card :active {
    top: 100%;
    box-shadow: 70 50px 100px rgba(0,0,10,.05), 0 0 2px rgba(0,0,0,.1);
    transition: ease-in-out .1s;
} */

.card_link {

    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;

}

.card_name{

    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.types{

    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;

}

.type_title{

    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    display:flex;
    flex-direction: column;
    word-break: initial;
    white-space: initial !important;

}

.cardtype{
    color: black;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 0;
    margin: 0px;
    padding: 0px;
    word-break: initial;
    text-decoration: none;

}
.type_list_card{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
