.landing-page{
    /* align-items: center; */
    background: url('../img/01.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.titleMain{
    color: rgba(255, 255, 0, 0.897);
    font-size: 75px;
    margin-top: -50px;
    
}

.main_btn{
    border: none;
    background-color: #299c1a;
    color: white;
    font-weight: 90px;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
} 
.main_btn:hover{
    
    background-color: #298c1a;

} 