.pagination{

    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

nav{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    
}