.cards {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    margin-top: 20px;

} 