.navbar {
    align-items: center;
    background-color: #2f8523;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    justify-content: space-between;
    height: 60px;
    margin: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
    text-decoration: none;
    width: 99%;
    
}

.link{

    color: white;
    text-decoration: none;
}

h1 {
    text-decoration: none;
}


.navbar input {
    background-color:(0, 0, 0, 0.116);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 5px;
    font-weight:500;
    font-size: 17px;
    margin-left: 150px;
}

.searchbtn{
    background-color: #299c1a;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
    text-decoration: none;

} 
.searchbtn:hover{
    background-color: #40739e;
}